
@{
    ViewBag.Title = "AddExaminiation";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    @functions {
        public int positionGK { get; set; } = 0;
        public int positionM { get; set; } = 0;
        public int positionCT { get; set; } = 0;
    }
}

@section head{
    <link href="~/Content/Assets/Admin/tb/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Assets/Admin/tb/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Assets/Admin/tb/assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <!-- PLUGINS STYLES-->
    <link href="~/Content/Assets/Admin/tb/assets/vendors/DataTables/datatables.min.css" rel="stylesheet" />
    <!-- THEME STYLES-->
    <!--<link href="~/Content/Assets/Admin/tb/assets/css/main.min.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>

        .cusModal {
            width: 100%;
        }

        .dialog-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .dialog-content {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
        }
    </style>
}

<main class="content-wrapper">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card">
                <div class="container">
                    <div class="question">
                        <h2>Add Examiniation</h2><br />
                        <form action="/admin/SaveExaminiation" method="post">
                            <div class="mdc-text-field mdc-text-field--outlined">
                                <input type="text" name="title" class="mdc-text-field__input" id="text-field-hero-input">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label for="text-field-hero-input" class="mdc-floating-label">Title of examiniation</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                            <br /><br />

                            <div class="ibox">
                                <div class="ibox-head">
                                    <br />
                                    <div class="ibox-title"><h5>Question of examiniation</h5></div>
                                </div>
                                <div class="ibox-body">
                                    <div class="clf">
                                        <ul class="nav nav-tabs tabs-line-left">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#tab-9-1" data-toggle="tab">General Knowledge</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#tab-9-2" data-toggle="tab"> Mathematics</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#tab-9-3" data-toggle="tab"> Computer Technology</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="tab-9-1">
                                                <div class="container text-center">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            @if (true)
                                                            {
                                                                int c = 1;
                                                                for (int i = 0; i < 5; i++)
                                                                {
                                                                    <br />
                                                                    <fieldset>
                                                                        <div class="input-group flex-nowrap">
                                                                            <span class="input-group-text" id="addon-wrapping">@c</span>
                                                                            <input type="text" id="qkqtexid+@c" value="" style="display:none" name="questionidlist" />
                                                                            <input type="text" class="form-control" value="Choose question......" id="gkqtex+@c" disabled>
                                                                            <span class="input-group-text" id="addon-wrapping"><button class="edit-questiongk-button" type="button" data-toggle="modal" data-target="#gkqtModal" onclick="ChangePosition(1, @c)">Edit question</button></span>
                                                                        </div>
                                                                    </fieldset>
                                                                    c++;
                                                                }
                                                            }

                                                        </div>
                                                        <div class="col-4">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-9-2">
                                                <div class="container text-center">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            @if (true)
                                                            {
                                                                int c = 1;
                                                                for (int i = 0; i < 5; i++)
                                                                {
                                                                    <br />
                                                                    <fieldset>
                                                                        <div class="input-group flex-nowrap">
                                                                            <span class="input-group-text" id="addon-wrapping">@c</span>
                                                                            <input type="text" id="mqtexid+@c" value="" style="display:none" name="questionidlist" />
                                                                            <input type="text" class="form-control" value="Choose question......" id="mqtex+@c" disabled>
                                                                            <span class="input-group-text" id="addon-wrapping"><button type="button" data-toggle="modal" data-target="#mqtModal" onclick="ChangePosition(2, @c)">Edit question</button></span>
                                                                        </div>
                                                                    </fieldset>
                                                                    c++;
                                                                }
                                                            }
                                                        </div>
                                                        <div class="col-4">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab-9-3">
                                                <div class="container text-center">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            @if (true)
                                                            {
                                                                int c = 1;
                                                                for (int i = 0; i < 5; i++)
                                                                {
                                                                    <br />
                                                                    <fieldset>
                                                                        <div class="input-group flex-nowrap">
                                                                            <span class="input-group-text" id="addon-wrapping">@c</span>
                                                                            <input type="text" id="ctqtexid+@c" value="" style="display:none" name="questionidlist" />
                                                                            <input type="text" class="form-control" value="Choose question......" id="ctqtex+@c" disabled>
                                                                            <span class="input-group-text" id="addon-wrapping"><button type="button" data-toggle="modal" data-target="#ctqtModal" onclick="ChangePosition(3, @c)">Edit question</button></span>
                                                                        </div>
                                                                    </fieldset>
                                                                    c++;
                                                                }
                                                            }


                                                        </div>
                                                        <div class="col-4">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br>
                                </div>
                            </div>

                            <input type="submit" value="Submit" />
                        </form>

                        <!-- Button trigger modal -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="gkqtModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg   " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="ibox">
                        <div class="ibox-head">
                            <h2 class="ibox-title">List General Knowledge</h2>
                        </div>
                        <div class="ibox-body">
                            <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Add</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (true)
                                    {
                                        int c = 1;
                                        foreach (var item in ViewBag.qtgk)
                                        {
                                            <tr>
                                                <td style="display:none"><input type="text" name="qtgk1" value="@item.id" /></td>
                                                <td>@item.title</td>
                                                <td><button type="button" class="btn btn-primary" data-dismiss="modal" onclick="Addquestion(1,positionGK,@item.id,`@item.title`)">ADD</button></td>
                                            </tr>
                                            c++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="mqtModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg   " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="ibox">
                        <div class="ibox-head">
                            <h2 class="ibox-title">List Mathematics</h2>
                        </div>
                        <div class="ibox-body">
                            <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th><a href="">ADD</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (true)
                                    {
                                        int c = 1;
                                        foreach (var item in ViewBag.qtm)
                                        {
                                            <tr>
                                                <td style="display:none"><input type="text" name="mgk1" value="@item.id" /></td>
                                                <td>@item.title</td>
                                                <td><button type="button" class="btn btn-primary" data-dismiss="modal" onclick="Addquestion(2,positionM,@item.id,`@item.title`)">ADD</button></td>
                                            </tr>
                                            c++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="ctqtModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg   " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="ibox">
                        <div class="ibox-head">
                            <h2 class="ibox-title">List Computer Technology</h2>
                        </div>
                        <div class="ibox-body">
                            <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th><a href="">ADD</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (true)
                                    {
                                        int c = 1;
                                        foreach (var item in ViewBag.qtct)
                                        {
                                            <tr>
                                                <td style="display:none"><input type="text" name="ctgk1" value="@item.id" /></td>
                                                <td>@item.title</td>
                                                <td><button type="button" class="btn btn-primary" data-dismiss="modal" onclick="Addquestion(3,positionCT,@item.id,`@item.title`)">ADD</button></td>
                                            </tr>
                                            c++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts{
    <script src="~/Content/Assets/Admin/tb/assets/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/Assets/Admin/tb/assets/vendors/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="~/Content/Assets/Admin/tb/assets/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/Assets/Admin/tb/assets/vendors/metisMenu/dist/metisMenu.min.js" type="text/javascript"></script>
    <script src="~/Content/Assets/Admin/tb/assets/vendors/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- PAGE LEVEL PLUGINS-->
    <script src="~/Content/Assets/Admin/tb/assets/vendors/DataTables/datatables.min.js" type="text/javascript"></script>
    <!-- CORE SCRIPTS-->
    <script src="~/Content/Assets/Admin/tb/assets/js/app.min.js" type="text/javascript"></script>
    <!-- PAGE LEVEL SCRIPTS-->
    <script type="text/javascript">
        $(function () {
            $('#example-table').DataTable({
                pageLength: 10,
            });
        })
    </script>
    <script>
        function Addquestion(categoryId, position, questionId, questionTitle) {

            if (categoryId == 1) {
                let idquestion = document.getElementById(`qkqtexid+${position}`);
                idquestion.removeAttribute('value');
                idquestion.setAttribute('value', questionId);
                let titlequestion = document.getElementById(`gkqtex+${position}`);
                titlequestion.value = questionTitle;
            } else if (categoryId == 2) {
                let idquestion = document.getElementById(`mqtexid+${position}`);
                idquestion.removeAttribute('value');
                idquestion.setAttribute('value', questionId);
                let titlequestion = document.getElementById(`mqtex+${position}`);
                titlequestion.value = questionTitle;
            } else if (categoryId == 3) {
                let idquestion = document.getElementById(`ctqtexid+${position}`);
                idquestion.removeAttribute('value');
                idquestion.setAttribute('value', questionId);
                let titlequestion = document.getElementById(`ctqtex+${position}`);
                titlequestion.value = questionTitle;
            }
        }

        function ChangePosition(idcate, newPosition) {
            if (idcate == 1) {
                positionGK = newPosition;
            } else if (idcate == 2) {
                positionM = newPosition;
            } else if (idcate == 3) {
                positionCT = newPosition;
            }
        }


    </script>
}

