@model Sem3Final.Models.ModelsView.VacanciesView
@{
    ViewBag.Title = "PageAddVancacies";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    List<Sem3Final.Models.ModelsView.ExamineView> ls = new List<Sem3Final.Models.ModelsView.ExamineView>();
    List<Sem3Final.Models.ModelsView.DepartmentView> ls1 = new List<Sem3Final.Models.ModelsView.DepartmentView>();

    if (ViewBag.Examine != null)
    {
        ls = ViewBag.Examine;
    }

    if (ViewBag.Depart != null)
    {
        ls1 = ViewBag.Depart;
    }
}

<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12">
            <div class="mdc-card">
                <h6 class="card-title">Add Vancacies</h6>
                <div class="template-demo">
                    <form action="/Admin/SubmitVancies" method="post" enctype="multipart/form-data" id="frmData">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                                    <input class="mdc-text-field__input" id="text-field-hero-input" value="@Model.name">
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label for="text-field-hero-input" class="mdc-floating-label">Vancacies Name</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                                    <label for="" class="mdc-floating-label">Examine: </label>
                                    <select class="mdc-select--focused" style="border-radius: 10px; width: 480px; text-align:center" id="exam" name="exam">
                                        @foreach (Sem3Final.Models.ModelsView.ExamineView item in ls)
                                        {
                                            <option value="@item.id">@item.title</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                                    <label for="" class="mdc-floating-label">DateLines: </label>
                                    <input type="text" id="basic-default-datetime" class="mdi-camera-timer" name="date_time" data-flatpickr="datetime" value="@Model.dateline" style="border-radius:10px; width: 480px; text-align:center">


                                </div>

                            </div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                                    <label for="" class="mdc-floating-label">DepartMent: </label>
                                    <select class="mdc-select--focused" style="border-radius: 10px; width: 480px; text-align:center" id="depart" name="depart">
                                        @foreach (Sem3Final.Models.ModelsView.DepartmentView item in ls1)
                                        {
                                            <option value="@item.id">@item.Dname</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                                    <input class="mdc-text-field__input" id="text-field-hero-input" value="@Model.salary">
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label for="text-field-hero-input" class="mdc-floating-label">Vancacies Salary</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                                    <label for="" class="mdc-floating-label">Jobnature: </label>
                                    <select name="jobnature" id="jobnature" class="mdc-select--focused" style="border-radius: 10px; width: 480px; text-align:center">
                                        <option value="fullTime">FullTime</option>
                                        <option value="partTime">PartTime</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                                    <label for="" class="mdc-floating-label">Featured: </label>
                                    <select name="jobnature" id="jobnature" class="mdc-select--focused" style="border-radius: 10px; width: 480px; text-align:center">
                                        <option value="1">Nổi bật</option>
                                        <option value="2">Không nổi bật</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                                    <input class="mdc-text-field__input" id="text-field-hero-input" value="@Model.quantity_emp">
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label for="text-field-hero-input" class="mdc-floating-label">Number of recruitment</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-5-desktop">
                                <div id="editor">

                                </div>
                                <input type="hidden" id="myData" name="myData" value="" />
                            </div>


                        </div><br />
                        <button type="submit" id="btnSave" class="btn-primary accordion-button">Send</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

